absl-py==0.7.0
alabaster==0.7.12
allennlp==0.8.3
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.7.1
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
autoflake==1.3.1
aws-xray-sdk==0.95
awscli==1.16.142
Babel==2.6.0
backcall==0.1.0
black==19.3b0
bleach==3.3.0
blis==0.2.4
boto==2.49.0
boto3==1.9.132
botocore==1.12.132
certifi==2019.3.9
cffi==1.12.1
chardet==3.0.4
Click==7.0
colorama==0.3.9
conllu==0.11
cryptography==3.3.2
cycler==0.10.0
cymem==2.0.2
decorator==4.3.2
docker==3.7.2
docker-pycreds==0.4.0
docutils==0.14
ecdsa==0.13.3
editdistance==0.5.3
en-core-web-sm==2.1.0
entrypoints==0.3
flaky==3.5.3
Flask==1.0.2
Flask-Cors==3.0.7
ftfy==5.5.1
future==0.17.1
gast==0.2.2
gevent==1.4.0
greenlet==0.4.15
grpcio==1.16.1
h5py==2.9.0
idna==2.8
imagesize==1.1.0
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
isort==4.3.17
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.11.3
jmespath==0.9.4
jsondiff==1.1.1
jsonpickle==1.1
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
llvmlite==0.28.0
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
mock==2.0.0
more-itertools==7.0.0
moto==1.3.7
msgpack==0.5.6
murmurhash==1.0.2
nb-conda-kernels==2.2.0
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.4.5
notebook==6.1.5
numba==0.43.1
numpy==1.15.4
numpydoc==0.8.0
olefile==0.46
overrides==1.9
packaging==19.0
pandas==0.24.1
pandocfilters==1.4.2
parsimonious==0.8.1
parso==0.3.4
patsy==0.5.1
pbr==5.1.3
pickleshare==0.7.5
Pillow==9.0.1
pip==19.0.3
plac==0.9.6
pluggy==0.9.0
preshed==2.0.1
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.6.1
py==1.10.0
pyaml==19.4.1
pyasn1==0.4.5
pycparser==2.19
pycryptodome==3.8.1
pyflakes==2.2.0
Pygments==2.7.4
pylint==2.3.1
pyparsing==2.3.1
pypiwin32==223
pyreadline==2.1
pyrsistent==0.14.11
pytest==4.4.1
python-dateutil==2.8.0
python-dotenv==0.10.1
python-jose==2.0.2
pytorch-pretrained-bert==0.6.1
pytz==2018.9
pywin32==224
pywinpty==0.5.5
PyYAML==5.4
pyzmq==18.0.0
regex==2019.4.14
requests==2.21.0
responses==0.10.6
rope==0.12.0
rsa==4.7
s3transfer==0.2.0
scikit-learn==0.20.2
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
setuptools==40.8.0
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==1.2.1
spacy==2.1.3
Sphinx==2.0.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.3.0
srsly==0.0.5
statsmodels==0.9.0
tensorboard==1.10.0
tensorboardX==1.6
tensorflow==2.4.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
thinc==7.0.4
tinydb==3.13.0
toml==0.10.0
torch==1.0.0
tornado==5.1.1
tqdm==4.31.1
traitlets==4.3.2
tuspy==0.2.4
typed-ast==1.3.2
umap-learn==0.3.8
Unidecode==1.0.23
urllib3==1.24.2
wasabi==0.2.1
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==0.15.3
wheel==0.33.1
wincertstore==0.2
word2number==1.1
wrapt==1.11.1
xmltodict==0.12.0
