.task {
  margin: 0px;
  padding: 5px 0px;
  border-radius: 2px;
  text-alight: left;
}

.column {
  background-color: white;
  float: left;
  margin: 0px;
  padding: 5px 0px;
  border-radius: 2px;
  text-alight: left;
}

.col-value {
  background-color: white;
  padding: 1px;
  border-radius: 2px;
  margin: 0px 0px;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: white;
}

.col-value[data-type]:before {
  content: attr(data-type);
  background-color: lightgray;
  color: black;
  border-radius: 5px;
  padding: 2px 5px;
  font-weight: bold;
  margin: 0px 5px 0px 0px;
}

.spanned {
  background-color: lavender;
}

.span-start {
  border-width: 0px 0px 2px 5px;
  border-color: black;
  border-style: solid;
  border-radius: 2px 0px 0px 2px;
}

.span-inside {
  border-width: 0px 0px 2px 0px;
  border-color: black;
  border-style: solid;
  border-radius: 0px;
}

.tokens {
  background-color: azure;
  text-decoration: underline;
}

.pos {
  background-color: bisque;
}

.ner {
  background-color: cornflowerblue;
}

.chunk {
  background-color: darksalmon;
}

.ccg {
  background-color: darkseagreen;
}